*{
  margin: 0;
}

.jokes{
  padding: 30px;
  font-size: 30px;
}

.app--nav{
  display: flex;
  padding: 20px;
  color: aliceblue;
  font-size: 40px;
  background-color: black;
}

body{
  background-color: aqua;
}